<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <!-- Top row, always visible -->
    <div class="mdl-layout__header-row">
    <!-- Title -->
      <span class="mdl-layout-title">HTML5 Tutorial</span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Tab 1</a>
      <a href="#scroll-tab-2" class="mdl-layout__tab">Tab 2</a>
      <a href="#scroll-tab-3" class="mdl-layout__tab">Tab 3</a>
 </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">HTML5 Tutorial</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="index.html">Home</a>
      <a class="mdl-navigation__link" href="index.html">About</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
      <div class="page-content">
        <table border="0">
          <tbody>
            <tr>
               <td><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"><i class="material-icons">add</i></button></td>
               <td><button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"><i class="material-icons">add</i></button></td>
               <td> </td>
            </tr>
            <tr>
               <td>Colored fab (circular) display effect</td>
               <td>Colored fab (circular) with ripple display effect</td>
               <td> </td>
            </tr>
            <tr>
               <td><button class="mdl-button mdl-js-button mdl-button--fab"><i class="material-icons">add</i></button></td>
               <td><button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect"><i class="material-icons">add</i></button></td>
               <td><button class="mdl-button mdl-js-button mdl-button--fab" disabled><i class="material-icons">add</i></button></td>
            </tr>
            <tr>
               <td>Plain fab (circular) display effect</td>
               <td>Plain fab (circular) with ripple display effect</td>
               <td>Plain fab (circular) and disabled</td>
            </tr>
            <tr>
               <td><button class="mdl-button mdl-js-button mdl-button--raised"><i class="material-icons">add</i></button></td>
               <td><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"><i class="material-icons">add</i></button></td>
               <td><button class="mdl-button mdl-js-button mdl-button--raised" disabled><i class="material-icons">add</i></button></td>
            </tr>
            <tr>
               <td>Raised button</td>
               <td>Raised button with ripple display effect</td>
               <td>Raised button and disabled</td>
            </tr>
            <tr>
               <td><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"><i class="material-icons">add</i></button></td>
               <td><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"><i class="material-icons">add</i></button></td>
               <td><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><i class="material-icons">add</i></button></td>
            </tr>
            <tr>
               <td>Colored Raised button</td>
               <td>Accent-colored Raised button</td>
               <td>Accent-colored raised button with ripple effect</td>
            </tr>
            <tr>
               <td><button class="mdl-button mdl-js-button"><i class="material-icons">add</i></button></td>
               <td><button class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="material-icons">add</i></button></td>
               <td><button class="mdl-button mdl-js-button" disabled><i class="material-icons">add</i></button></td>
            </tr>
            <tr>
               <td>Flat button</td>
               <td>Flat button with ripple effect</td>
               <td>Disabled flat button</td>
            </tr>
            <tr>
               <td><button class="mdl-button mdl-js-button mdl-button--primary"><i class="material-icons">add</i></button></td>
               <td><button class="mdl-button mdl-js-button mdl-button--accent"><i class="material-icons">add</i></button></td>
               <td> </td>
            </tr>
            <tr>
               <td>Primary Flat button</td>
               <td>Accent-colored Flat button</td>
               <td> </td>
            </tr>
            <tr>
               <td><button class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons">add</i></button></td>
               <td><button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"><i class="material-icons">add</i></button></td>
               <td> </td>
            </tr>
            <tr>
               <td>Icon button</td>
               <td>Colored Icon button</td>
               <td> </td>
            </tr>
            <tr>
               <td><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"><i class="material-icons">add</i></button></td>
               <td><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"><i class="material-icons">add</i></button></td>
               <td> </td>
            </tr>
            <tr>
               <td>Mini Colored fab (circular) display effect</td>
               <td>Mini Colored fab (circular) with ripple display effect</td>
               <td> </td>
            </tr>
            </tbody>
          </table>
      </div>
      <footer class="mdl-mega-footer">
        <div class="mdl-mega-footer__top-section">
           <div class="mdl-mega-footer__left-section">
              <button class="mdl-mega-footer__social-btn">1</button>
              <button class="mdl-mega-footer__social-btn">2</button>
              <button class="mdl-mega-footer__social-btn">3</button>
           </div>
           <div class="mdl-mega-footer__right-section">
              <a href="">Link 1</a>
              <a href="">Link 2</a>
              <a href="">Link 3</a>
           </div>
        </div>
        <div class="mdl-mega-footer__middle-section">
           <div class="mdl-mega-footer__drop-down-section">
              <h1 class="mdl-mega-footer__heading">Heading </h1>
              <ul class="mdl-mega-footer__link-list">
                 <li><a href="">Link A</a></li>
                 <li><a href="">Link B</a></li>
              </ul>
           </div>
           <div class="mdl-mega-footer__drop-down-section">
              <h1 class="mdl-mega-footer__heading">Heading </h1>
              <ul class="mdl-mega-footer__link-list">
                 <li><a href="">Link C</a></li>
                 <li><a href="">Link D</a></li>
              </ul>
           </div>
        </div>
        <div class="mdl-mega-footer__bottom-section">
           <div class="mdl-logo">
              Bottom Section
           </div>
           <ul class="mdl-mega-footer__link-list">
              <li><a href="">Link A</a></li>
              <li><a href="">Link B</a></li>
           </ul>
        </div>
      </footer>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-2">
      <div class="page-content">
        <span class="material-icons mdl-badge" data-badge="1">account_box</span>
        <span class="material-icons mdl-badge" data-badge="★">account_box</span>
        <span class="mdl-badge" data-badge="4">Unread Messages</span>
        <span class="mdl-badge" data-badge="⚑">Rating</span>
        <a href="#" class="mdl-badge" data-badge="5">Inbox</a>
      </div>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
           <div class="mdl-logo">
              Copyright Information
           </div>
           <ul class="mdl-mini-footer__link-list">
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy and Terms</a></li>
              <li><a href="#">User Agreement</a></li>
           </ul>
        </div>
        <div class="mdl-mini-footer__right-section">
           <button class="mdl-mini-footer__social-btn">1</button>
           <button class="mdl-mini-footer__social-btn">2</button>
           <button class="mdl-mini-footer__social-btn">3</button>
        </div>
      </footer>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-3">
      <div class="page-content">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--1-col graybox">1</div>
          <div class="mdl-cell mdl-cell--1-col graybox">2</div>
          <div class="mdl-cell mdl-cell--1-col graybox">3</div>
          <div class="mdl-cell mdl-cell--1-col graybox">4</div>
          <div class="mdl-cell mdl-cell--1-col graybox">5</div>
          <div class="mdl-cell mdl-cell--1-col graybox">6</div>
          <div class="mdl-cell mdl-cell--1-col graybox">7</div>
          <div class="mdl-cell mdl-cell--1-col graybox">8</div>
          <div class="mdl-cell mdl-cell--1-col graybox">9</div>
          <div class="mdl-cell mdl-cell--1-col graybox">10</div>
          <div class="mdl-cell mdl-cell--1-col graybox">11</div>
          <div class="mdl-cell mdl-cell--1-col graybox">12</div>
        </div>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col graybox">1</div>
          <div class="mdl-cell mdl-cell--4-col graybox">2</div>
          <div class="mdl-cell mdl-cell--4-col graybox">3</div>
        </div>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col graybox">6</div>
          <div class="mdl-cell mdl-cell--4-col graybox">4</div>
          <div class="mdl-cell mdl-cell--2-col graybox">2</div>
        </div>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet graybox">6 on desktop, 8 on tablet</div>
          <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet graybox">4 on desktop, 6 on tablet</div>
          <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone graybox">2 on desktop, 4 on phone</div>
        </div>
      </div>

      <!-- Progress Bars -->
      <h4>Default Progress bar</h4>
      <div id="progressbar1" class="mdl-progress mdl-js-progress"></div>
      <h4>Indeterminate Progress bar</h4>
      <div id="progressbar2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
      <h4>Buffering Progress bar</h4>
      <div id="progressbar3" class="mdl-progress mdl-js-progress"></div>
    </section>
  </main>
</div>
